/* Black Theme */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: skyblue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #ffffff;
    margin-bottom: 1rem;
}

p {
    color: #dddddd;
    margin-bottom: 1rem;
}

th,
td {
    color: #000000;
    border: 2px solid hotpink;
    border-collapse: collapse;
    padding: 0.5rem;
}

td:hover {
    background-color: black;
    color: #000000;
}

table {
    width: 670px;
    color: #000000;
    border: 2px solid hotpink;
    border-radius: 10px;
    padding: 0.2rem;
}
